@tailwind base;
@tailwind components;
@tailwind utilities;
.active {
    font-weight: bold;
    text-decoration: underline;
}
body{
    background-image: url('../../public/images/fondo2.jpg') ;
    background-repeat: no-repeat; 
    background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
    /* font-size: revert !important;
    font-weight: revert !important; */
  }

  html, body {
    height: 100%;
    overflow-y: auto; 
  }
@font-face {
  font-family: 'Barlow Condensed';
  font-weight: 400;
  src: url('/fonts/barlow-condensed/barlow-condensed-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-weight: 600;
  src: url('/fonts/barlow-condensed/barlow-condensed-600.woff2') format('woff2');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-weight: 700;
  src: url('/fonts/barlow-condensed/barlow-condensed-700.woff2') format('woff2');
}
